@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111827; /* Dark Gray */
  color: #d1d5db; /* Light Gray Text */
  font-family: 'Sora', sans-serif;
}